<div class="container-full">

      <div class="row">

        <div class="col-lg-12 text-center v-center">

            <h1><i class="fa fa-circle-o-notch"></i> Get Er' Done</h1>
          <p class="lead">A Smart 'To Do' List Ruby on Rails Application</p>

          <br>

					<%= link_to "Get Stuff Done", new_user_registration_path, class: "btn btn-primary btn-lg" %>

        </div>

      </div> <!-- /row -->

  	  <div class="row">

        <div class="col-lg-12 text-center v-center" style="font-size:39pt;">
          <a href="#"><i class="icon-google-plus"></i></a> <a href="#"><i class="icon-facebook"></i></a>  <a href="#"><i class="icon-twitter"></i></a> <a href="#"><i class="icon-github"></i></a> <a href="#"><i class="icon-pinterest"></i></a>
        </div>

      </div>

  	<br><br><br><br><br>

</div> <!-- /container full -->

<div class="container">

  	<hr>

  	<div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Get More Done.</h3></div>
            <div class="panel-body">Stay on task by keeping track of the top most important things throughout your day.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Increase Productivity.</h3></div>
            <div class="panel-body">Boost efficiency and get more done in less time with organization.
            </div>
          </div>
        </div>
      	<div class="col-md-4">
        	<div class="panel panel-default">
            <div class="panel-heading"><h3>Feel More Accomplished.</h3></div>
            <div class="panel-body">End your day feeling accomplished and successful and maybe even richer :).
            </div>
          </div>
        </div>
    </div>

	<div class="row">
        <div class="col-lg-12">
        <br><br>
          <p class="text-center"><a href="http://keyannamayfield.com">A Mayfield Creation</a> &nbsp; ©Copyright 2015 KLM<sup>TM</sup> Brand.</p>
        <br><br>
        </div>
    </div>
</div>
